 .u-section-1 {
  filter: none;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/ChatGPTImage18sept.202501_11_29.png');
  background-position: 50% 72.5%, 50% 72.5%;
  background-size: 120%, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 859px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 0;
  left: auto;
  height: 351px;
  transform-origin: center top;
  right: 270px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-family: ContextRepriseExpandedSSiExpanded;
  margin: 228px 358px 0 194px;
}

.u-section-1 .u-text-2 {
  font-family: Inter;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: -44px 61px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 120%, 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1 .u-line-1 {
    right: 210px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.5rem;
    width: auto;
    margin-top: 210px;
    margin-right: 329px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -29px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 72.5%, 53.05% 68.51%;
    background-size: 120%, 120%;
  }

  .u-section-1 .u-text-1 {
    margin-top: 201px;
    margin-right: 246px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-size: 120%, 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-1 .u-line-1 {
    right: 182px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 188px;
    margin-right: 205px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 72.5%, 49.35% 100%;
    background-size: auto 114%, auto 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-line-1 {
    left: 195px;
    height: 200px;
    right: 270px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 194px;
    margin-right: 170px;
    margin-left: -25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-right: -33px;
    margin-left: 195px;
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(143, 133, 142), rgb(138, 1, 0));
  background-size: cover;
  min-height: 276px;
}

.u-section-2 .u-text-1 {
  font-size: 1.75rem;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Inter;
  width: 862px;
  text-transform: uppercase;
  margin: 37px auto 0;
}

.u-section-2 .u-line-1 {
  width: calc(((100% - 1140px) / 2)  + 6px);
  transform-origin: right center;
  border-style: solid;
  margin: -97px auto 96px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 6px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 312px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 96px;
    margin-right: calc(((100% - 720px) / 2)  + -15px);
    margin-left: calc(((100% - 720px) / 2)  + 15px);
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 720px) / 2)  + 6px);
    margin-top: -40px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 365px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 116px;
    margin-right: calc(((100% - 540px) / 2)  + -15px);
    margin-left: calc(((100% - 540px) / 2)  + 15px);
  }

  .u-section-2 .u-line-1 {
    width: calc(((100% - 540px) / 2)  + 6px);
    margin-top: -59px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    --animation-custom_in-translate_x: 0px;
    margin: 33px auto;
  }

  .u-section-2 .u-line-1 {
    width: 471px;
    margin-top: -97px;
    margin-left: calc(((100% - 340px) / 2)  + -294px);
  }
} .u-section-3 {
  background-image: linear-gradient(rgba(138, 1, 0, 0.5), rgba(249, 66, 1, 0.5)), linear-gradient(rgb(133, 2, 15), rgb(133, 2, 15));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 928px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-family: ContextRepriseExpandedSSiExpanded;
  text-transform: uppercase;
  margin: 44px auto 0 0;
}

.u-section-3 .u-accordion-1 {
  width: 100%;
  margin: 42px 0 60px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
  padding: 3px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 376px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-3 .u-text-2 {
  font-family: Inter;
  font-size: 1.25rem;
  margin: 0 0 0 602px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  font-size: 2.25rem;
  font-family: ContextRepriseExpandedSSiExpanded;
  text-transform: uppercase;
  font-weight: 700;
  margin: -96px 667px 0 36px;
}

.u-section-3 .u-list-1 {
  width: 1114px;
  margin: 19px 0 0 auto;
}

.u-section-3 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 273px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 117px 0 0;
}

.u-section-3 .u-text-6 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-7 {
  font-size: 2.25rem;
  --text-color-var: #ffffffbd;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 117px 0 0;
}

.u-section-3 .u-text-9 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-10 {
  font-size: 2.25rem;
  --text-color-var: #ffffffbd;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 117px 0 0;
}

.u-section-3 .u-text-12 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-13 {
  font-size: 2.25rem;
  --text-color-var: #ffffffbd;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-14 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 117px 0 0;
}

.u-section-3 .u-text-15 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
  padding: 3px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 376px;
  height: auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 27px 0 5px;
}

.u-section-3 .u-text-16 {
  font-size: 2.25rem;
  font-style: italic;
  font-family: ContextRepriseExpandedSSiExpanded;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 697px 0 36px;
}

.u-section-3 .u-text-17 {
  font-family: Inter;
  font-size: 1.25rem;
  margin: -79px 1px 0 581px;
}

.u-section-3 .u-list-2 {
  width: 1114px;
  margin: 36px 0 0 auto;
}

.u-section-3 .u-repeater-2 {
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 291px;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-text-18 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-19 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 88px 0 0;
}

.u-section-3 .u-text-20 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-text-21 {
  font-size: 2.25rem;
  --text-color-var: #ffffffbd;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-22 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 88px 0 0;
}

.u-section-3 .u-text-23 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-text-24 {
  font-size: 2.25rem;
  --text-color-var: #ffffffbd;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-25 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 88px 0 0;
}

.u-section-3 .u-text-26 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-text-27 {
  font-size: 2.25rem;
  --text-color-var: #ffffffbd;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-28 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 88px 0 0;
}

.u-section-3 .u-text-29 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
  padding: 3px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 376px;
  height: auto;
}

.u-section-3 .u-container-layout-11 {
  padding: 20px 0;
}

.u-section-3 .u-text-30 {
  font-size: 2.25rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-family: ContextRepriseExpandedSSiExpanded;
  margin: 0 752px 0 36px;
}

.u-section-3 .u-text-31 {
  font-family: Inter;
  font-size: 1.25rem;
  margin: -79px 2px 0 592px;
}

.u-section-3 .u-list-3 {
  width: 1114px;
  margin: 19px auto 0;
}

.u-section-3 .u-repeater-3 {
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 236px;
}

.u-section-3 .u-container-layout-12 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-text-32 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-33 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 93px 0 0;
}

.u-section-3 .u-text-34 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-text-35 {
  font-size: 2.25rem;
  --text-color-var: #ffffffbd;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-36 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 93px 0 0;
}

.u-section-3 .u-text-37 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-container-layout-14 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-text-38 {
  font-size: 2.25rem;
  --text-color-var: #ffffffbd;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-39 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 93px 0 0;
}

.u-section-3 .u-text-40 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

.u-section-3 .u-container-layout-15 {
  padding: 10px 10px 7px;
}

.u-section-3 .u-text-41 {
  font-size: 2.25rem;
  --text-color-var: #ffffffbd;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-42 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Inter;
  margin: 0 93px 0 0;
}

.u-section-3 .u-text-43 {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px 42px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-pane-1 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-size: 1.125rem;
    width: auto;
    margin-left: 445px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.75rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -86px;
    margin-right: 567px;
    margin-left: 25px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: 58px;
    margin-right: -33px;
  }

  .u-section-3 .u-repeater-1 {
    --gap: 0px;
    grid-auto-columns: 25%;
    grid-template-columns: repeat(4, 25%);
    min-height: 267px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 165px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 165px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 165px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-right: 165px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
  }

  .u-section-3 .u-accordion-pane-2 {
    min-height: 405px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-16 {
    font-size: 1.75rem;
    width: auto;
    margin-right: 599px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -62px;
    margin-right: 0;
    margin-left: 449px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-2 {
    --gap: 0px;
    grid-auto-columns: 25%;
    grid-template-columns: repeat(4, 25%);
    min-height: 283px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-3 .u-text-19 {
    margin-right: 0;
  }

  .u-section-3 .u-text-20 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-3 .u-text-22 {
    margin-right: 0;
  }

  .u-section-3 .u-text-23 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-3 .u-text-25 {
    margin-right: 0;
  }

  .u-section-3 .u-text-26 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 0;
  }

  .u-section-3 .u-text-28 {
    margin-right: 0;
  }

  .u-section-3 .u-text-29 {
    margin-right: 0;
  }

  .u-section-3 .u-accordion-pane-3 {
    min-height: 408px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-text-30 {
    font-size: 1.75rem;
    width: auto;
    margin-right: 645px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-31 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -62px;
    margin-right: 0;
    margin-left: 412px;
  }

  .u-section-3 .u-list-3 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-3 {
    min-height: 248px;
  }

  .u-section-3 .u-text-33 {
    margin-right: 0;
  }

  .u-section-3 .u-text-34 {
    margin-right: 0;
  }

  .u-section-3 .u-text-36 {
    margin-right: 0;
  }

  .u-section-3 .u-text-37 {
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-14 {
    padding-bottom: 2px;
  }

  .u-section-3 .u-text-39 {
    margin-right: 0;
  }

  .u-section-3 .u-text-40 {
    margin-right: 0;
  }

  .u-section-3 .u-text-42 {
    margin-right: 0;
  }

  .u-section-3 .u-text-43 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-3 .u-accordion-pane-1 {
    min-height: 523px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 341px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -102px;
    margin-right: 417px;
    margin-left: 16px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 78px;
    margin-right: -31px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    width: auto;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-accordion-pane-2 {
    min-height: 537px;
  }

  .u-section-3 .u-text-16 {
    font-size: 1.5rem;
    margin-right: 437px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-17 {
    font-size: 1rem;
    margin-top: -53px;
    margin-left: 328px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 389px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 2px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-bottom: 2px;
  }

  .u-section-3 .u-accordion-pane-3 {
    min-height: 523px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-30 {
    font-size: 1.5rem;
    margin-top: 13px;
    margin-right: 442px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-31 {
    font-size: 1rem;
    margin-top: -66px;
    margin-left: 375px;
  }

  .u-section-3 .u-list-3 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-3 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-13 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-14 {
    padding-bottom: 0;
  }

  .u-section-3 .u-container-layout-15 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-accordion-link-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-3 .u-accordion-pane-1 {
    min-height: 756px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 278px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    margin-top: -128px;
    margin-right: 289px;
    margin-left: 5px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: 134px;
    margin-right: auto;
    margin-left: -5px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 508px;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-3 .u-accordion-pane-2 {
    min-height: 756px;
  }

  .u-section-3 .u-text-16 {
    font-size: 1.25rem;
    margin-right: 303px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-17 {
    margin-top: -44px;
    margin-left: 254px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 559px;
  }

  .u-section-3 .u-accordion-link-3 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-3 .u-accordion-pane-3 {
    min-height: 756px;
  }

  .u-section-3 .u-text-30 {
    font-size: 1.25rem;
    margin-top: 1px;
    margin-right: 297px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-31 {
    margin-top: -45px;
    margin-left: 282px;
  }

  .u-section-3 .u-list-3 {
    margin-top: -31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-3 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 604px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 0;
  }

  .u-section-3 .u-text-32 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-top: 0;
  }

  .u-section-3 .u-text-35 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-top: 0;
  }

  .u-section-3 .u-text-38 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-top: 0;
  }

  .u-section-3 .u-text-41 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1424px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 53px;
  }

  .u-section-3 .u-accordion-1 {
    margin-bottom: 29px;
  }

  .u-section-3 .u-accordion-pane-1 {
    min-height: 887px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 60px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -162px;
    margin-right: 86px;
    margin-left: 9px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 148px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    --gap: 10px;
    grid-template-columns: repeat(1, 100%);
    min-height: 664px;
  }

  .u-section-3 .u-accordion-pane-2 {
    min-height: 1010px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 53px;
  }

  .u-section-3 .u-text-17 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-list-2 {
    margin-top: 29px;
    margin-bottom: -7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-2 {
    --gap: 19px;
    grid-template-columns: repeat(1, 100%);
    min-height: 820px;
  }

  .u-section-3 .u-accordion-pane-3 {
    min-height: 887px;
  }

  .u-section-3 .u-text-30 {
    margin-top: 13px;
    margin-right: 29px;
    margin-left: 0;
  }

  .u-section-3 .u-text-31 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-list-3 {
    margin-top: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-3 {
    min-height: 701px;
  }

  .u-section-3 .u-text-32 {
    margin-top: 14px;
  }

  .u-section-3 .u-text-35 {
    margin-top: 14px;
  }

  .u-section-3 .u-text-38 {
    margin-top: 14px;
  }

  .u-section-3 .u-text-41 {
    margin-top: 14px;
  }
} .u-section-4 {
  --color-var: #f2ede9;
}

.u-section-4 .u-sheet-1 {
  min-height: 236px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(14.2857% - 51.4286px);
  grid-template-columns: repeat(7, calc(14.2857% - 51.4286px));
  --gap: 60px;
  min-height: 156px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-image-1 {
  height: 120px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0);
  width: 160px;
  margin: -5px -23px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-image-2 {
  height: 120px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0);
  width: 160px;
  margin: -5px -23px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-4 .u-image-3 {
  height: 120px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0);
  width: 160px;
  margin: -5px -23px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-4 .u-image-4 {
  height: 120px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0);
  width: 160px;
  margin: -5px -23px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-4 .u-image-5 {
  height: 120px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0);
  width: 160px;
  margin: -5px -23px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-4 .u-image-6 {
  height: 120px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0);
  width: 160px;
  margin: -5px -23px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-4 .u-image-7 {
  height: 120px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  filter: brightness(0);
  width: 160px;
  margin: -5px -23px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(14.285714285714286% - 51.42857142857143px);
    grid-template-columns: repeat(7, calc(14.285714285714286% - 51.42857142857143px));
    min-height: 129px;
  }

  .u-section-4 .u-image-1 {
    width: 129px;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    width: 129px;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    width: 129px;
    margin-right: auto;
  }

  .u-section-4 .u-image-4 {
    width: 129px;
    margin-right: auto;
  }

  .u-section-4 .u-image-5 {
    width: 129px;
    margin-right: auto;
  }

  .u-section-4 .u-image-6 {
    width: 129px;
    margin-right: auto;
  }

  .u-section-4 .u-image-7 {
    width: 129px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 25%;
    grid-template-columns: repeat(4, 25%);
    --gap: 0px;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 480px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-7 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    --gap: 20px;
  }

  .u-section-4 .u-image-1 {
    width: 245px;
  }

  .u-section-4 .u-image-2 {
    width: 245px;
  }

  .u-section-4 .u-image-3 {
    width: 245px;
    object-position: 50% 50%;
  }

  .u-section-4 .u-image-4 {
    width: 245px;
  }

  .u-section-4 .u-image-5 {
    width: 245px;
  }

  .u-section-4 .u-image-6 {
    width: 245px;
  }

  .u-section-4 .u-image-7 {
    width: 245px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 833px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-family: ContextRepriseExpandedSSiExpanded;
  text-transform: uppercase;
  margin: 114px auto 0 24px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 53px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 226px;
  filter: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(17, 16, 12), rgb(135, 2, 15));
  background-size: cover;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 53px;
}

.u-section-5 .u-text-2 {
  width: 206px;
  margin: 52px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(17, 16, 12), rgb(135, 2, 15));
  background-size: cover;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px 60px;
}

.u-section-5 .u-text-3 {
  font-family: Inter;
  font-weight: 400;
  transition-duration: 0.5s;
  margin: 0 20px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 226px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(17, 16, 12), rgb(135, 2, 15));
  background-size: cover;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-4 {
  font-family: Inter;
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 197px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(135, 2, 15), rgb(135, 2, 15));
  background-size: cover;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  font-family: Inter;
  font-size: 1.125rem;
  transition-duration: 0.5s;
  margin: 31px 41px 0 56px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 197px;
  --color-var: #87020f;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-5 .u-text-6 {
  font-family: Inter;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 197px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(135, 2, 15), rgb(135, 2, 15));
  background-size: cover;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  font-family: Inter;
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 197px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(139, 9, 7), rgb(249, 66, 1));
  background-size: cover;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 60px;
}

.u-section-5 .u-text-8 {
  font-family: Inter;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 197px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgb(139, 9, 7), rgb(249, 66, 1));
  background-size: cover;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  font-family: Inter;
  width: 226px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-9 {
  min-height: 197px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(rgb(139, 9, 7), rgb(249, 66, 1)), linear-gradient(rgb(135, 2, 15), rgb(135, 2, 15));
  background-size: cover, cover;
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --radius: 20px;
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 186px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 162px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 8px;
    margin-left: 23px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 162px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 162px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 162px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 162px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-5 .u-text-9 {
    width: 168px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-right: 178px;
    margin-left: 153px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 121px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 164px;
    margin-left: 153px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 179px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 29px 10px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 212px;
    margin-left: 152px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 145px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-right: 202px;
    margin-left: 163px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 180px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 192px;
    margin-left: 153px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 136px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
    width: 216px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 155px;
  }

  .u-section-5 .u-container-layout-7 {
    padding: 25px 10px;
  }

  .u-section-5 .u-text-8 {
    width: 214px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 155px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    font-size: 1rem;
    margin-right: 199px;
    margin-left: 153px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-5 .u-text-2 {
    width: 202px;
    margin-left: 53px;
    margin-right: 78px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-5 .u-text-3 {
    width: 218px;
    margin-left: 53px;
    margin-right: 64px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 216px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 160px;
  }

  .u-section-5 .u-text-5 {
    width: 179px;
    margin-left: 63px;
    margin-right: 102px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 216px;
  }

  .u-section-5 .u-text-6 {
    width: 210px;
    margin-top: 19px;
    margin-left: 53px;
    margin-right: 92px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-5 .u-text-7 {
    width: 244px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 216px;
  }

  .u-section-5 .u-text-8 {
    width: 213px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 201px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 53px;
    margin-right: 99px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 204px;
  }
}

.u-section-5 .u-container-layout-7:not([data-block-selected]):not([data-cell-selected]),
.u-section-5 .u-container-layout-7:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-5 .u-container-layout-7:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

:hover:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout > .u-section-5 .u-container-layout-7 {
  opacity: 0 !important;
}

.u-section-5 .hover > .u-container-layout .u-container-layout-7 {
  opacity: 0 !important;
}

.u-section-5 .u-text-8:not([data-block-selected]):not([data-cell-selected]),
.u-section-5 .u-text-8:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-5 .u-text-8:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-8:before {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(64, 5, 11, 1)) !important;
}

.u-section-5 .u-text-8:before {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(64, 5, 11, 1)) !important;
}

.u-section-5 .u-text-9:not([data-block-selected]):not([data-cell-selected]),
.u-section-5 .u-text-9:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-5 .u-text-9:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

:hover:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout > .u-section-5 .u-text-9 {
  color: #ffffff !important;
}

.u-section-5 .hover > .u-container-layout .u-text-9 {
  color: #ffffff !important;
}

.u-section-5 .u-layout-cell-9,
.u-section-5 .u-layout-cell-9:before,
.u-section-5 .u-layout-cell-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-layout-cell-9:before {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(64, 5, 11, 1)) !important;
}

.u-section-5 .u-layout-cell-9:before {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(64, 5, 11, 1)) !important;
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(242, 237, 233, 0.99), rgba(242, 237, 233, 0.99));
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 497px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 195px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1rem;
  font-family: Inter;
  margin: 77px 60px 0 456px;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: ContextRepriseExpandedSSiExpanded;
  text-transform: uppercase;
  margin: -77px 883px 0 20px;
}

.u-section-6 .u-line-1 {
  margin-top: 37px;
  margin-bottom: 0;
  transform-origin: right center;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 183px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 101px;
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-icon-1 {
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  width: 152px;
  font-family: Inter;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-text-6 {
  font-size: 0.875rem;
  text-transform: uppercase;
  width: 152px;
  font-family: Inter;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-text-8 {
  font-size: 0.875rem;
  text-transform: uppercase;
  width: 152px;
  font-family: Inter;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-text-10 {
  font-size: 0.875rem;
  text-transform: uppercase;
  width: 152px;
  font-family: Inter;
  font-weight: 400;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 316px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 703px;
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    margin-top: 38px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 151px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 164px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -213px;
    margin-right: 432px;
    margin-left: 48px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 144px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 254px;
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 124px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: -173px;
    margin-right: 303px;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 111px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -211px;
    margin-right: 125px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 195px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-7 {
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 730px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  width: 819px;
  font-weight: 700;
  font-family: ContextRepriseExpandedSSiExpanded;
  text-transform: uppercase;
  margin: 75px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 316px;
  --gap: 20px;
}

.u-section-7 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-7 .u-icon-1 {
  width: 23px;
  height: 23px;
  --text-color-var: #958e87;
  color: rgb(149, 142, 135) !important;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-family: Inter;
  margin: 15px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-7 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-7 .u-icon-2 {
  width: 23px;
  height: 23px;
  --text-color-var: #958e87;
  color: rgb(149, 142, 135) !important;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-4 {
  font-family: Inter;
  margin: 15px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-7 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-7 .u-icon-3 {
  width: 23px;
  height: 23px;
  --text-color-var: #958e87;
  color: rgb(149, 142, 135) !important;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-7 .u-text-6 {
  font-family: Inter;
  margin: 15px 0 0;
}

.u-section-7 .u-text-7 {
  margin: 21px 0 0;
}

.u-section-7 .u-text-8 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: ContextRepriseExpandedSSiExpanded;
  width: 406px;
  margin: 57px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Inter;
  margin: 21px auto 60px;
  padding: 9px 69px 11px 68px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 344px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 7px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 7px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 789px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.875rem;
    width: 340px;
  }
}
/* page-custom-fonts */
@font-face {
  font-family: 'ContextRepriseExpandedSSiExpanded';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ContextRepriseExpandedSSiExpanded.ttf);
}